.env
.vscode/**
.vscode-test/**
src/**
tools/**
tsconfig.json
out/**
example_prompt.md
*.vsix
phaser/**
node_modules/**
!node_modules/sharp/**
!node_modules/@img/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/color-string/**
!node_modules/is-arrayish/**
!node_modules/simple-swizzle/**
!node_modules/semver/**
!node_modules/jimp/**
!node_modules/@jimp/**
!node_modules/base64-js/**
!node_modules/buffer/**
!node_modules/exif-parser/**
!node_modules/file-type/**
!node_modules/ieee754/**
!node_modules/jpeg-js/**
!node_modules/load-bmfont/**
!node_modules/mime/**
!node_modules/mkdirp/**
!node_modules/pixelmatch/**
!node_modules/pngjs/**
!node_modules/regenerator-runtime/**
!node_modules/sax/**
!node_modules/tifer/**
!node_modules/tinycolor2/**
!node_modules/utif/**
!dist/**
!package.json
!data/**
